[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-RESTful = "*"
python-kasa = "*"
astral = "*"
pylint = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
