{% extends "layout.html" %}
{% block content %}
<!-- <div class="card">
    <div class="card-body">
        Available routes:
        <ul>
            <li><a href="/brightness">/brightness</a> - GET or POST</li>
            <li><a href="/temp">/temp</a> - GET or POST</li>
        </ul>
        Both take a json with the following keys:
        </br>
        {
        "target": [from 0 to 100],
        "duration": [in seconds]
        }
    </div>
</div>

<br> -->
<div class="card">
    <div class="card-body">
        <h3>Lamp</h3>
        Override: {{ not vlc.nvl.lamp_access }}
    </div>
</div>

<br>

<div class="card">
    <div class="card-body">
        <h3>Brightness</h3>
        Perceived: {{ vlc.active_vlamp.brightness.perceived }}%
        <br>
        Actual: {{ vlc.active_vlamp.brightness.actual }}%
        <br>
        Is running: {{ vlc.active_vlamp.brightness.running}}
    </div>
</div>

<br>

<div class="card">
    <div class="card-body">
        <h3>Temperature</h3>
        Percent: {{ vlc.active_vlamp.color_temp.percent }}%
        <br>
        Kelvin: {{ vlc.active_vlamp.color_temp.kelvin }}
        <br>
        Is running: {{ vlc.active_vlamp.color_temp.running}}
    </div>
</div>

{% endblock content %}