{% extends "layout.html" %}
{% block content %}
<!-- <div class="card">
	<div class="card-body">
		Available routes:
		<ul>
			<li><a href="/brightness">/brightness</a> - GET or POST</li>
			<li><a href="/temp">/temp</a> - GET or POST</li>
		</ul>
		Both take a json with the following keys:
		</br>
		{
		"target": [from 0 to 100],
		"duration": [in seconds]
		}
	</div>
</div>

<br> -->

<br>
<div class="card">
	<div class="card-body">
		<h3>{{vlc.nvl.name}}</h3>

		Is On: {{vlc.nvl.on}}
		<br>
		<hr>
		<div class="d-flex">
			<button id="active{{vlc.nvl.id}}" type="button" class="btn btn-success" onclick="disengage()">Active</button>

			<div class="input-group">
				<!-- <div class="input-group-prepend">
					<button id="active{{vlc.nvl.id}}" type="button" class="btn btn-success" onclick="disengage()">Active</button>
				</div> -->
				<input id="change_duration" type="number" class="form-control" aria-label="Small"
					aria-describedby="inputGroup-sizing-sm">
			</div>
		</div>
		<hr>

		<h4>Brightness</h4>
		Perceived: {{ vlc.nvl.brightness.perceived }}%
		<br>
		Actual: {{ vlc.nvl.brightness.actual }}%
		<br>
		Is running: {{ vlc.nvl.brightness.running}}

		<hr>

		<h4>Temperature</h4>
		Percent: {{ vlc.nvl.color_temp.percent }}%
		<br>
		Kelvin: {{ vlc.nvl.color_temp.kelvin }}
		<br>
		Is running: {{ vlc.nvl.color_temp.running}}

	</div>
</div>

<br>

<div class="card">
	<div class="card-body">
		<h3>{{vlc.ovl.name}}</h3>

		Is On: {{vlc.ovl.on}}
		<br>
		<hr>
		<button id="active{{vlc.ovl.id}}" type="button" class="btn btn-success" onclick="override()">Active</button>
		<hr>

		<h4>Brightness</h4>
		Perceived: {{ vlc.ovl.brightness.perceived }}%
		<br>
		Actual: {{ vlc.ovl.brightness.actual }}%
		<br>
		Is running: {{ vlc.ovl.brightness.running}}

		<hr>

		<h4>Temperature</h4>
		Percent: {{ vlc.ovl.color_temp.percent }}%
		<br>
		Kelvin: {{ vlc.ovl.color_temp.kelvin }}
		<br>
		Is running: {{ vlc.ovl.color_temp.running}}

	</div>

</div>
<br>

<script>
	let debug = true
	let endpoint = debug ? 'http://localhost:5000' : 'https://130.83.4.219:5443'
	let button0 = document.getElementById('active0')
	let button1 = document.getElementById('active1')

	let lamp_access0 = eval('{{ vlc.nvl.lamp_access }}'.toLocaleLowerCase())
	let lamp_access1 = eval('{{ vlc.ovl.lamp_access }}'.toLocaleLowerCase())

	if (lamp_access0) {
		button0.innerHTML = 'Active'
		button0.classList.remove('btn-secondary')
		button0.classList.add('btn-success')

		button1.innerHTML = 'Inactive'
		button1.classList.remove('btn-success')
		button1.classList.add('btn-secondary')
	} else {
		button0.innerHTML = 'Inactive'
		button0.classList.remove('btn-success')
		button0.classList.add('btn-secondary')

		button1.innerHTML = 'Active'
		button1.classList.remove('btn-secondary')
		button1.classList.add('btn-success')
	}

	function override() {
		fetch(`${endpoint}/override`);
		setTimeout(() => location.reload(), 1000)
	}

	function disengage() {
		let duration = document.getElementById('change_duration').value
		duration = duration == '' ? '1' : duration

		fetch(`${endpoint}/disengage/${duration}`);
		setTimeout(() => location.reload(), 1000)
	}

</script>

{% endblock content %}